@import './components/app';

@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Asket';
  src: url('assets/fonts/Asket-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(74, 144, 226);
  --color-dark-white: #f6f6f6;
  --color-orange: rgb(245, 166, 35);
}

@custom-media --s (max-width: 940px);
@custom-media --m (min-width: 940px);
@custom-media --l (min-width: 1440px);

#app-root{
  width: 100%;
  font-family:'Roboto';
  /*background-color: #eee;*/
  overflow: hidden;
}

  #casein{
    font-family:'Roboto';
    /*background-color: #eee;*/
    overflow: hidden;    
    width: 100%;
    max-width: 940px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    @media (--s){
      padding: 10px;
    }
  }