
@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Asket';
  src: url('assets/fonts/Asket-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}


:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(74, 144, 226);
  --color-dark-white: #f6f6f6;
  --color-orange: rgb(245, 166, 35);
}

@custom-media --s (max-width: 940px);
@custom-media --m (min-width: 940px);
@custom-media --l (min-width: 1440px);

#casein-app-root,
#casein-app-root:before,
#casein-app-root:after,
#casein-app-root *,
#casein-app-root *:before,
#casein-app-root *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

#casein-app-root{
  width: 100%;
  font-family:'Roboto';
  /*background-color: #eee;*/
  overflow: hidden;
}

  #casein{
    width: 100%;
    max-width: 940px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    @media (--s){
      padding: 10px;
      padding-top:0px;
      padding-bottom:0px;
    }
  }


#casein #footer{
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(40, 150, 210);
  padding-top: 24px;
  padding-bottom: 24px;
}
#casein #footer-right,
#casein #footer-left{
        @media (--s){
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0px;
      }}

#casein #footer-container{
      width:100%;
        max-width: 940px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: space-between;
        color: white;
      @media (--s){
        padding: 10px;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

#casein #footer-txt1{
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
      @media (--s){
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }   
  }

#casein #footer-txt2{
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 1.5;
    color: white;
      @media (--s){
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }       
  }

#casein #footer-txt4{
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 1.5;
      @media (--s){
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
  }

#casein #footer-logo{
    margin-bottom: 20px;

      @media (--s){
        margin-top: 10px;
        margin-bottom: 10px;
        width: 215px;
        height: 50px;
        left: 50%;
        transform: translate(-50%, 0);
      }   
  }


#casein #folder{
  height: 667px;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  @media (--s){
    height: 100vh;
  }
}

#casein #folder-bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
  }

#casein #folder-container{
      width:100%;
        max-width: 940px;
        height:100%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;

    }

#casein #folder-header{
        height: 180px;
        width: 100%;
        display: flex;
        @media (--s){
        height:80px;
        }
      }

#casein #folder-header-left{
        background-color: rgba(255,255,255,0.65);
        width: 382px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (--s){
          width:50%
        }
      }

#casein #folder-header-left-img{
              @media (--s){
                width: 80%;
              }
            }

#casein #folder-header-right-img{
              @media (--s){
                width: 50%;
              }
            }

#casein #folder-header-right{
            margin-left: auto;
            background-color: rgba(255,255,255,0.0);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (--s){
              justify-content: center;
            }
          }

#casein #folder-divider{
        margin-top: auto;
      }

#casein #folder-text{
        width: 100%;
        background-color: rgba(12, 65, 154, 0.75);
        font-size: 19px;
        line-height: 1.32;
        color: white;
        padding: 40px;
        padding-top: 27px;
        padding-bottom: 27px;
        position:absolute;
        bottom: 0;
        left:0;

        @media (--s){
          font-size: 14px;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px;         
        }
      }




#casein .divider{
  height:50px;
  width: 100%;
}

#casein .divider2{
  width: 100%;
  height: 2px;
  border: solid 1px rgb(187, 187, 187);
  margin-top: 25px;
  margin-bottom: 25px;
}

#casein .divider-blue{
  height:20px;
  background-color: rgb(12, 65, 154);
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
}


#casein .rectangle2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 259px;
  background-image: linear-gradient(to top, rgb(0, 66, 121), rgba(0, 156, 219, 0) 100%);
    @media (--s){
    height: 100%;
  }
}


#casein #block20{
  width: 100%;
}

#casein .block20-img{
  @media (--s){
    width: 100%;
  }
}

#casein #block20-container{
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
  }

#casein  #block20-header{
font-family: Roboto-Bold;
  font-size: 30px;
  line-height: 0.63;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
    }

#casein #block20-txt{
      font-size: 16px;
        line-height: 1.19;
        margin-bottom: 50px;
        width: 100%;
        padding-left: 27%;
        padding-right: 27%;
        text-align: center;

    }






#casein #block21{

}
  
#casein .block21-header{
    font-size: 20px;
    font-family: Roboto-Bold;
    line-height: 1.45;
    margin-bottom: 11px;
  }

#casein .block21-line{
    width: 100%;
    height: 0px;
    border: solid 1px rgb(74, 144, 226);
    margin-bottom: 30px;
  }

#casein .block21-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (--s){
      flex-wrap: wrap;
    justify-content: center;
    align-items: center;      
    }
  }

#casein .block21-item{
      margin: 5px;
    }

#casein .block21-image-container{
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

#casein .block21-image{
          object-fit: contain;
        }

#casein .block21-text{
      font-size: 12px;
      color: rgb(131, 131, 131);
      font-family: Roboto-Light;
      text-align: center;
    }


#casein .block22-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;

}

#casein .block22-item{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (--s){
    width: auto;
    height: auto;
    flex-wrap:wrap;
    }
  }
#casein .block22-image{
    

  }

#casein .block22-item:nth-child(36){
    margin-left:auto;
    margin-right:50px;
    width: auto;
  }
#casein .block22-item:nth-child(37){
    margin-left:50px;
    margin-right:auto;
    width: auto;
  }   





#casein #block0{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media (--s){
    flex-direction: column;
  }
}

#casein #puzzle{
    width: 351px;
    height: 344px;
    min-width: 351px;
    /*object-fit: contain;*/
      @media (--s){
    min-width: none;
  }
  }

#casein #block0-text{
    font-size: 20px;
    line-height: 1.3;

  }

#casein .block-text{
      font-family: 'Roboto-Light';
      font-weight: 300;
    }

#casein .block-text-blue{
      font-family: 'Roboto-Bold';
      color: var(--color-blue);
    }





#casein #block1{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;

  @media (--s){
    justify-content: center;
  }
}
#casein #block1::after {
/*  content: "";
  flex: 0 0 32%;*/
}

#casein #block1-star{
    position: absolute;
    bottom: 27px;
    right: 0;
    font-size: 14px;
    color: rgb(155, 155, 155);
    @media (--s){
    bottom: -30px;
    right: auto;
    }
  }

#casein  .block1-item{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 16px;
  }

#casein .block1-item:nth-child(4){
    margin-left:15%;
    @media (--s){
      margin-left:16px;
    }
  }

#casein .block1-item:nth-child(5){
    margin-right:15%;
    @media (--s){
      margin-right:16px;
    }   
  } 

#casein .block1-item-icon{
      margin-right: 17px;
    }

#casein  .block1-item-texts{
      
    }

#casein .block1-item-value{
        font-family: 'Asket';
        font-size: 36px;
        margin-bottom: 0px;
      }

#casein .block1-item-text{
        font-family: 'Roboto';
        font-size: 14px;
      }



#casein #block2{

}

#casein #block2-sblock0{
    background-color: var(--color-blue);
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    @media (--s){
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

#casein .block2-sblock0-item{
      margin-left: 30px;
      margin-right: 30px;
      font-family: 'Roboto-Bold';
      font-size: 14px;
      text-align: center;
      width: 25%;
      @media (--s){
        width:auto;
      }


    }

#casein #block2-sblock1{
    background-color: var(--color-dark-white);
    display: flex;
    color: black;
    @media (--s){
      flex-direction: column;
    }
  }

#casein .block2-sblock1-item{
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 34px;
      padding-bottom: 34px;
      width: 50%;
      @media (--s){
        width:100%;
      }
    }

#casein .block2-sblock1-item-header{
        font-size: 18px;
        font-family: 'Roboto-Bold';
        margin-bottom: 10px;

      }

#casein .block2-sblock1-item-text{
        font-size: 14px;
      }




#casein #block3{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  @media (--s){
    flex-direction: column;
  }
}

#casein #logo-rossiya-strana{
/*    width: 193px;
    height: 72px;*/
/*    object-fit: contain;*/
    margin-left: 27px;
    margin-right: 27px;
  }

#casein #block3-text{
    font-size: 20px;
    line-height: 1.3;
    margin-right: 50px;
    @media (--s){
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }

#casein .block-text{
      font-family: 'Roboto-Bold';
    }

#casein .block-text-blue{
      font-family: 'Roboto-Bold';
      color: var(--color-blue);
    }



#casein #block4{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  @media (--s){
    
  }
}

#casein .block4-item{
    width: 25%;
/*    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;*/
    margin-bottom: 27px;
    @media (--s){
      width: 50%;
    }
  }

#casein .block4-item:nth-child(21){
    margin-left:auto;
  }

#casein .block4-item:nth-child(22){
    margin-right:auto;
  } 

#casein .block4-container{
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      & img{
        @media (--s){
          max-width: 100%;
        }
      }
  

    }

#casein  .block4-item-icon{
      object-fit: contain;
    }

#casein .block4-item-text{
      margin-top: 10px;
      font-family: 'Roboto-Light';
      font-size: 12px;
      text-align: center;
      color: rgb(131, 131, 131);
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

#casein #block5{
  width: 100%;
}

#casein #block5-image{
    left: 50%;
    transform: translate(-50%, 0);
  }



#casein #block6{
  display: flex;
  /*align-items: stretch;*/
  justify-content: space-between;
  width: 100%;
  @media (--s){
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

#casein .block6-item{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    @media (--s){
      width: 100%;
      margin-bottom: 20px;
    }
  }

#casein .block6-li{
      font-size: 12px;
      line-height: 16px;
    }

#casein .block6-li:last-child{
      margin-bottom: 10px;
    }

#casein .block6-item-icon{
      margin-bottom: 25px;
    }

#casein .block6-item-header{
      font-family: 'Asket';
      font-size: 16px;
      text-align: center;
      line-height: 1.2;
      width: 100%;
    }

#casein  .block6-item-sheader{
      font-size: 12px;
      text-align: center;
      color: rgb(95, 83, 174);
      width: 100%;
    }

#casein .block6-item-line{
      width: 50px;
      height: 0px;
      background-color: black;
      margin-bottom: 10px;
      margin-top: 0px;
    }

#casein .block6-item-txt{
      font-size: 12px;
      line-height: 1.33;
      text-align: center;
      margin-bottom: 10px;
      width: 100%;
    }

#casein  .block6-item-years{
      font-family: Roboto-Bold;
      font-size: 12px;
      line-height: 1.33;
      text-align: center;
    }





#casein #block7{

}

#casein .block7-item{
    display: flex;
    align-items: center;
    @media (--s){
      flex-direction: column;
    }
  }

#casein .block7-left{
      margin-right: 65px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 260px;
      @media (--s){
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }

#casein .block7-name{
        font-family: Roboto-Bold;
        font-size: 20px;
        margin-bottom:20px;
        width: 100%;
        text-align: center;
      }

#casein .block7-image{
width: 190px;
height: 160px;
      }

#casein .block7-right{
      width: 100%;
    }
      
#casein .block7-vuz{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

#casein  .block7-vuz-number{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          min-width: 30px;
          min-height: 30px;
          border-radius: 15px;
          border: solid 2px var(--color-blue);
          margin-right: 20px;
        }

#casein .block7-vuz-name{
          font-family: 'Roboto';
          font-size: 16px;
        }








#casein #block8{
  display: flex;
  width: 100%;
  @media (--s){
    flex-direction: column;
  }
}

#casein  #block8-left{
    margin-right: 20px;
    @media (--s){
      margin-right: 0px;
    }
  }

#casein #block8-el0{
      font-size: 20px;
      line-height: 1.45;
      @media (--s){
        font-size: 16px;
      }
    }


#casein #block8-right{

  }

#casein  #block8-el4{
      margin-top: -80px;

      @media (--s){
        margin-top: 0;
        width: 100%;
      }
    }

#casein .block8-btn{
      width: 260px;
      height: 37px;
      border-radius: 18.5px;
      background-color: rgb(242, 92, 25);
      color: white;
      display:flex;
      justify-content: center;
      align-items: center;
      font-family: Asket;
      font-size: 16px;
      margin-bottom: 11px;
    }




#casein #block8-el1{
      margin-top: 27px;
      @media (--s){
        margin-left: -30px;
      }
    }

#casein #block8-el1-img1{
        position: absolute;
        top: -40px;
        left: 160px;
      }
      
#casein  #block8-el1-img2{
        position: absolute;
        top: 20px;
        left: 340px;
        height: 60px;
      }     

#casein #block8-el2{
      margin-left: 110px;
      margin-top: -100px;
      width: 220px;

      @media (--s){

      }
    }

#casein #block8-el3{
      font-size: 14px;
      margin-left: 110px;
      margin-bottom: 48px;
    }

#casein .block8-item{
        /*display:inline-block;*/
      }

#casein #block8-item0{
        margin-bottom: -30px;
        margin-left: 360px;
        @media (--s){
          margin-bottom: 10px;
          margin-left: 0px;
        }
      }

#casein #block8-item1{
        margin-bottom: 50px;
        margin-left: 15px;
        @media (--s){
          margin-bottom: 10px;
          margin-left: 0px;
        }
      }

#casein #block8-item2{
        margin-left: 287px;
        @media (--s){
          margin-bottom: 10px;
          margin-left: 0px;
        }
      }

#casein #block8-item3{
        margin-left: 50px;
        margin-bottom: 90px;
        @media (--s){
        margin-left: 0px;
        margin-bottom: 50px;
        }
      }

#casein #block8-el5{
      margin-left: 45px;
      margin-top: -30px;
      @media (--s){
        margin-left: 0px;
      }
    }

#casein #block8-el6{
      font-size: 14px;
      margin-left: 50px;
      margin-bottom: 114px;
      @media (--s){
      margin-left: 0;
      margin-bottom: 50px;
      }
    }

#casein #block8-el7{
      @media (--s){
        width: 100%;
      }
    }

#casein .block8-item-value{
        font-family: Asket;
        font-size: 36px;
        margin-bottom: 6px;
      }

#casein .block8-item-txt{
        font-size: 14px;
      }



#casein #block9{
  display: flex;
  align-items: center;
  @media (--s){
    flex-direction: column;
  }
  
}

#casein #block9-icons{
    display: flex;
    margin-right: 25px;
    @media (--s){
      width: 100%;
      margin-right: 0;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

#casein .block9-icon{
    margin-right: 12px;
    @media (--s){
      margin-right: 0;
      margin: 5px;
    }   
  }

#casein .block9-text{
    font-size: 16px;
  }


#casein #block10,
#casein #block12,
#casein #block11{
  display: flex;
  /*align-items: center;*/
  @media (--s){
    flex-direction: column;
  }
}

#casein #block10-icons,
#casein #block12-icons,
#casein  #block11-icons{
    display: flex;
    margin-right: 25px;
    align-items: flex-start;
    @media (--s){
      margin-right: 0;
      margin-bottom: 25px;
      align-items: center;
      justify-content: center;
    }
  }

#casein .block10-icon{
    margin-right: 12px;
  }

#casein #block10-img{
    position: absolute;
    right: 0px;
    top: 0px;

    @media (--s){
      opacity: 0;
    }
  }

#casein .block10-text{
    font-size: 16px;
    margin-bottom:9px;
    line-height: 24px;
    @media (--s){
      font-size: 14px;
      line-height: 18px;
    }

    & ul{

      @media (--s){
        padding-left: 20px;
      }

      & li{
        margin-bottom: 5px;
        @media (--s){
          
        }
      }
    }
  }

#casein .block10-list-btn{
    font-size: 14px;
    color: var(--color-blue);
    margin-bottom: 9px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    width: 100%;

  }

#casein .circle-{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin-left: 20px;
  }


#casein  .block10-list-container{
    overflow: hidden;
  }

#casein .block10-list-item,
#casein .block12-list-item,
#casein .block11-list-item{
    color: var(--color-blue);
    line-height: 1.71;
    font-size: 14px;
  }




#casein #block13{
  padding: 24px;
  background-color: var(--color-dark-white);
}

#casein .block13-img{
    position: absolute;
    right: 0px;
    bottom: calc(100%-45px);

    @media (--s){
      opacity: 0;
    }
  }

#casein .block13-bg{
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: var(--color-dark-white);
  }

#casein #block13-header{
    font-family: Roboto-Bold;
    font-size: 18px;
    line-height: 1.22;

  }

#casein .block13-line{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    @media (--s){
      flex-direction: column;
    }
  }

#casein .block13-img-container{
      width: 240px;
      min-width: 240px;
      display: flex;
      justify-content: center;
      margin-right: 30px;
    @media (--s){
      margin-right: 0px;
      margin-bottom: 30px;
      width: auto;
      min-width: none;
    }     
    }

#casein .block13-line-txt{
      font-size: 14px;
      line-height: 1.57;
    }




#casein #block14{
  padding: 0px;
  background-color: white;
}

#casein #block14-header{
    font-family: Roboto-Bold;
    font-size: 18px;
    line-height: 1.22;
  }

#casein .block14-line{
    margin-top: 37px;
    display: flex;
    @media (--s){
      flex-direction: column;
    }
  }

#casein .block14-img-container{
      width: 240px;
      min-width: 240px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (--s){
      width: 100%;
      min-width: none;
      margin-bottom: 10px;
      justify-content: flex-start;
      }
    }

#casein .block14-line-txt{
      font-size: 14px;
      line-height: 1.57;
      margin-left: 57px;
      @media (--s){
        margin-left: 0px;
      }     
    }
#casein .block14-line-img{
  object-fit: contain;
}

#casein #block14-img-container1{
      max-height: 74px;
      @media (--s){
        max-height: none;
      }         
    }

#casein  #block14-line-img2{
      margin-right: 10px;
      margin-left: -7px;
    }

#casein #block15{

}

#casein #block15-header{
    font-family: Asket;
    font-size: 30px;
    margin-bottom: 47px;
  }

#casein #info{
    width: 100%;
    height: 330px;
    background-color: rgb(241, 241, 241);

    & img{
      @media (--s){
        width: 100%;
      }
    }
  
    @media (--s){
      height: auto;
    }
  }

#casein .nomobile{
  @media (--s){
    display: none;
  }
}

#casein #block16{
  display: flex;
  align-items: flex-end;
  @media (--s){
    flex-direction: column;
  }
}

#casein #block16-img{
    width: 410px;
    height: 313px;
    /*object-fit: contain;*/
    @media (--s){
      width: 100%;
      height: auto;
    }
  }

#casein #block16-text{
    font-size: 20px;
    line-height: 1.45;
    margin-left: -40px;
    margin-bottom: 210px;
    max-width: 50%;
    @media (--s){
    margin-left: 0px;
    margin-bottom: 30px;
    font-size: 16px;
    max-width: none;
    }
  }

#casein #afr{
  font-size: 16px;
  color: rgb(74, 144, 226);
  margin-top: 10px;
  margin-left: 25px;
}


#casein #block17{
  display: flex;
  align-items: flex-end;
  @media (--s){
    flex-direction: column;
    align-items: flex-start;
  }
}

#casein #block17-left{

  }

#casein #block17-left-header{
      font-size: 20px;
      font-family: Roboto-Bold;
      line-height: 1.45;
      margin-bottom: 40px;
    }

#casein #block17-right{
      @media (--s){
        width: 100%;
      }

    & img {
      @media (--s){
        width: 100%;
      }
    }
  }

#casein .block17-list-block{
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  margin-right: 20px;
}

#casein .block17-list-item{
        font-size: 12px;
      }

#casein .block17-list-dot{
        border-radius: 7px;
        width: 14px;
        min-width: 14px;
        height: 14px;
        min-height: 14px;
        margin-right: 10px;
      }

#casein .block17-list-dot[data-id="0"]{background-color: rgb(195, 254, 46);}
#casein .block17-list-dot[data-id="1"]{background-color: rgb(116, 216, 255);}
#casein .block17-list-dot[data-id="2"]{background-color: rgb(212, 137, 158);}
#casein .block17-list-dot[data-id="3"]{background-color: rgb(151, 117, 179);}
#casein .block17-list-dot[data-id="4"]{background-color: rgb(0, 212, 116);}
#casein .block17-list-dot[data-id="5"]{background-color: rgb(234, 144, 82);}
#casein .block17-list-dot[data-id="6"]{background-color: rgb(116, 216, 182);}
#casein .block17-list-dot[data-id="7"]{background-color: rgb(247, 215, 89);}



#casein #block18{
width: 100%;
}

#casein #block18-header{
    font-size: 20px;
    line-height: 1.45;
    margin-bottom: 27px;
    width: 100%;
    max-width: 665px;
  }

#casein  #block18-container{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

#casein .block18-value{
          font-family: Asket;
          font-size: 36px;
        }

#casein .block18-txt{
          font-size: 14px;
          max-width: 180px;
        }


#casein #block19{
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media (--s){
/*    flex-direction: column;
    justify-content: center;
    align-items: center;*/

    flex-wrap: wrap;
  }
} 

#casein .block19-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    width: 100%;
    @media (--s){
    max-width: 50%;
    }
  }


#casein .block6-item-header-container{
    height: 50px;
    width:100%;
    @media (--s){
      height: auto;
    }
  }

#casein .block19-imgcontainer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }

#casein .block19-item-txt{
      font-size: 12px;
      color: rgb(131, 131, 131);
      text-align: center;
      width: 100%;
    }


#casein #upbtn{
  max-width: 310px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: solid 2px rgb(242, 92, 25);;
  background-color: rgb(242, 92, 25);;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  transition: background-color 0.35s ease-out;
  color: white;
  font-family: Roboto-Bold;

  &:hover{
    background-color: white;
    color: rgb(242, 92, 25);;
  };
}





#casein .casein-header{
  font-family: 'Asket';
  width: 100%;
}

#casein  .casein-header-blue{
    color: var(--color-blue);
    font-size: 41px;
    margin-right: 9px;
  }

#casein .casein-header-bold{
    color: var(--color-black);
    font-size: 30px;
  }

#casein #short-header{
  width: 60%;
  line-height: 1.3;
  @media (--s){
    width: 100%;
  }
} 