<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<title>casein</title>
		<style type="text/css">#app-root{visibility:hidden;}</style>
	</head>
	<body>
		<div id="app-root"><style type="text/css">#app-root{visibility:hidden;}</style></div>
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
	</body>
</html>
